
Source code/dist/

Source code/build/

Source code/__pycache__/

Source code/registor_manager/__pycache__/registor_manager.cpython-39.pyc

Source code/main_operator/__pycache__/main_operator.cpython-39.pyc

Source code/Database and Profile/System Registor Structure Database.db

Source code/.vs/slnx.sqlite

Source code/.vs/Source code/v16/.suo
